@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Acadian Runes';
  src: url('/Acadian_Runes-Regular_PERSONAL_USE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-parchment: #F4F1DE;
  --color-ink: #2B2D42;
  --color-magic-teal: #006D77;

  --font-hand: "Patrick Hand", cursive;
  --font-runes: "Acadian Runes", serif;
}
