<h2>Campaign Manager - Sign In Link</h2>

<p>Click the link below to sign in:</p>

<p><%= link_to @magic_link, @magic_link %></p>

<p>This link expires in 15 minutes.</p>

<p>If you didn't request this, ignore this email.</p>
