<div class="text-[9px] text-slate-300">
  <span class="font-black uppercase text-indigo-400"><%= message.user.name || "Adventurer" %>:</span>
  <span class="text-slate-200"><%= message.body %></span>
</div>
